/*call font faces*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Droid+Serif:400,400italic,700,700italic);
body {
  font-family: 'Droid Serif', serif;
  color: #3d3d3d;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #454545;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #454545;
}

h3{

}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.65em;
  color: #454545;
}

p {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
}

hr.break {
  border-top: 1px solid #3d3d3d;
  width:
}

/*index styles*/
.investigate {
  font-weight: 700;
  font-style: italic;
  font-size: 0.9em;
  color: #454545;
  text-align: center;
  border-top: 1px solid #3d3d3d;
  margin: 5px 0 15px 0;
  padding-top: 10px;
}

.page-images {
  display: block;
  margin: auto;
}

/*paris and beirut styling*/
#navigation {
  padding: 10px 0 10px 10px;
  background-color: #262626;
}

#navigation a {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  color: #ffffff;
}

#navigation a:hover {
  text-decoration: none;
}

.nav-img {
  margin-top: 2px;
}

#map {
  height: 50%;
  width: 100%;
  margin-bottom: 10px;}

iframe {
  border: none;
}

#footer {
  background-color: #262626;
  padding: 7px 0 7px 0;
}

#footer p {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

#footer a:hover {
  text-decoration: none;
}


/*insert media query to change map size for mobile and desktop*/
/*iphone 6 { height: 40%; width: 360px;}*/
